= form_for(@person) do |f|
  - if @person.errors.any?
    .alert.alert-danger
      %h4
        = pluralize(@person.errors.count, "error")
        prohibited this person from being saved:
      %ul
        - @person.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :first_name
    = f.text_field :first_name, class: 'form-control'
  .form-group
    = f.label :last_name
    = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label :birthdate
    = f.datetime_select :birthdate, class: 'form-control'
  .form-group
    = f.label :email
    = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :phone
    = f.text_field :phone, class: 'form-control'
  .form-group
    = f.submit 'Submit', class: 'btn btn-blue btn-lg'
