= simple_form_for(@person, html: { class: 'ui form segment'} ) do |f|
  - if @person.errors.any?
    .ui.error.message
      %h4
        = pluralize(@person.errors.count, "error")
        prohibited this person from being saved:
      %ul
        - @person.errors.full_messages.each do |message|
          %li= message
  .field= f.input :first_name
  .field= f.input :last_name
  .field
    %label Birthday
    = f.datetime_select :birthdate
  .field= f.input :email
  .field= f.input :phone
  .field= f.submit 'Submit', class: 'ui blue submit button'
