= form_for(@person, html: { class: 'ui form segment' } ) do |f|
  - if @person.errors.any?
    .ui.error.message
      %h4
        = pluralize(@person.errors.count, "error")
        prohibited this person from being saved:
      %ul
        - @person.errors.full_messages.each do |message|
          %li= message
  .field
    %label First name
    = f.text_field :first_name
  .field
    %label Last name
    = f.text_field :last_name
  .field
    %label Email
    = f.text_field :email
  .field
    %label Phone
    = f.text_field :phone
  .field= f.submit 'Submit', class: 'ui blue submit button'
