= form_for(@person, html: { class: 'ui form segment'} ) do |f|
  - if @person.errors.any?
    .ui.error.message
      %h4
        = pluralize(@person.errors.count, "error")
        prohibited this person from being saved:
      %ul
        - @person.errors.full_messages.each do |message|
          %li= message
  .field
    %label First name
    = f.text_field :first_name
  .field
    %label Last name
    = f.text_field :last_name
  .field
    %label
      = f.label 'Birthdate'
    .ui.left.icon.input
      %input{ type: :text, id: 'datepicker', name: 'event[date]', value: @date}
      %i.calendar.icon
  .field
    %label Email
    = f.text_field :email
  .field
    %label Phone
    = f.text_field :phone
  .field= f.submit 'Submit', class: 'ui blue submit button'
= link_to @person, method: :delete, data: { confirm: 'Are you sure you want to delete this person?' }, class: 'ui basic right floated button' do
  Delete
