- @people_page = true

%h2.ui.header.inverted.teal.tophead
  People
  .sub.header= "#{Person.count} people"
  = link_to 'New Person', new_person_path, class: 'ui blue button'


.ui.selection.list
  - @people.each do |person|
    = link_to person, class: 'item hover-show' do
      - grade_label(person.last_response_grade) do
        = person.last_response_grade
      .content
        .header= person.full_name
        - if person.has_outstanding_query?
          = "Has an outstanding question."
