- @people_page = true

%h2.ui.header
  People
  .sub.header= "#{Person.count} people"

= link_to 'New Person', new_person_path, class: 'ui basic button'

%table.ui.table.segment
  %tbody
    - @people.each do |person|
      %tr.hover-show
        %td= person.last_response_grade
        %td= link_to person.full_name, person
        %td.text-right
          .ui.small.basic.buttons.hover-display
            = link_to 'Edit', edit_person_path(person), class: 'ui button'
            .ui.small.dropdown.icon.button
              %i.dropdown.icon
              .menu
                .item
                  = link_to person, method: :delete, data: { confirm: 'Are you sure you want to delete this person?' } do
                    %i.delete.icon
                    Delete
