.header
  %h1= @person.full_name
  %h4= "Birthday in #{distance_of_time_in_words(Time.now, @person.birthdate)}"

  .actions
    = link_to 'Edit', edit_person_path(@person), class: 'btn btn-blue btn-lg'
.notice= notice

= line_chart @person.responses.group_by_week(:created_at).maximum(:grade)
