= semantic_flash

.center
  %h1.ui.teal.header
    = @person.full_name
    .sub.header
      - if @person.has_outstanding_query?
        %br
        = "Has an outstanding question."

  .ui.statistic
    .value
      = @person.responses.last.grade
    .label
      = "#{@person.first_name}'s most recent status"

.med-box
  = link_to 'Edit', edit_person_path(@person), class: 'ui black button'

  - @person.responses.order(updated_at: :desc).each do |response|
    .ui.top.attached.segment
      - grade_label(response.grade) do
        = response.grade
      = "Conversation at #{response.date}"

    .ui.bottom.attached.segment
      = form_for response.messages.new do |f|
        .ui.form
          .field
            = f.hidden_field :response_id, value: response.id
            = f.hidden_field :user_author, value: true
            = f.text_area :body, placeholder: "Reply to #{response.person.first_name}"
          = f.submit 'Send', class: 'ui blue button'

      - response.messages.each do |message|
        = message.body
        .ui.divider
