- @responses_page = true
%h2.ui.header.inverted.teal.tophead
  Conversations
  .sub.header= "Last query: #{Question.last.created_at.strftime('%e %b')}"
  = link_to 'Query Happiness', query_happiness_path, class: 'ui blue toggle button querybtn', remote: true, method: :post

-# = column_chart Response.group(:grade).count

- if @responses.count > 0
  .ui.selection.list
    - @responses.each do |response|
      = link_to response, class: 'item' do
        .content
          - grade_label(response.grade) do
            = response.grade
          %b= response.person.full_name
          = "#{time_ago_in_words response.updated_at} ago"
          = response.body
- else
  Nothing here
