- @responses_page = true
.headerbw
  = link_to 'Query Happiness', query_happiness_path, class: 'ui basic button', remote: true, method: :post

= column_chart Response.group(:grade).count

- if @responses.count > 0
  %table.ui.basic.table
    %thead
      %tr
        %th Body
        %th Grade
        %th Person
        %th{ colspan: '3' }

    %tbody
      - @responses.each do |response|
        %tr
          %td= response.body
          %td= response.grade
          %td= response.person.first_name if response.person && response.person.first_name
          %td= link_to 'Show', response, class: 'ui small basic button'
          %td= link_to 'Destroy', response, method: :delete, class: 'ui small basic button'
- else
  Nothing here
