.headerbw
  %h1= "Conversation with #{@response.person.first_name}"
  .subtitle= "#{@response.created_at.strftime("%B %e")}"


%p#notice= notice
.replyform
  = form_for @reply, remote: true do |f|
    = f.text_area :body, class: 'reply', placeholder: "Reply to #{@response.person.first_name}"
    = f.submit 'Send', class: 'btn btn-default btn-lg float-right'

- @messages.each do |message|
  .response= message.inspect
.response= @response.body


-# %h2= @response.grade
