.headerbw
  %h1= "Conversation with #{@response.person.first_name}"
  .subtitle= "#{@response.created_at.strftime("%B %e")}"


%p#notice= notice

= text_area '#', '#', class: 'reply'
.response= @response.body


-# %h2= @response.grade
