%h1.ui.header
  = "Conversation with #{@response.person.first_name}"
  .sub.header= "#{@response.created_at.strftime("%B %e")}"


%p#notice= notice
.replyform
  = form_for @reply, remote: true do |f|
    .ui.form
      .field
        = f.hidden_field :response_id, value: @response.id
        = f.text_area :body, placeholder: "Reply to #{@response.person.first_name}"
      = f.submit 'Send', class: 'ui blue button'

- @messages.each do |message|
  .ui.segment
    - if message.person
      %b= "#{message.person.first_name} said:"
      %br
    = message.body
.ui.blue.segment= @response.body

%br
%br
-# %h2= @response.grade
