.ui.active.thin.purple.inverted.sidebar.vertical.menu
  .header.item
    = current_org ? current_org.name : '2ME'
    .ui.mini.dropdown.float-right
      %i.angle.down.icon
      .menu
        = link_to 'my organisation', edit_organisation_path(current_org), class: 'item'      
        = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'item'
  = link_to responses_path, class: navlinkclass('responses_page') do
    %i.comment.outline.icon
    Conversations
  = link_to people_path, class: navlinkclass('people_page') do
    %i.users.basic.icon
    People

  - if current_user.admin?
    = link_to 'Admin', admin_path, class: 'item'
